<html>
<head>
    <link rel="stylesheet"
          href="https://unpkg.com/@universis/theme@1.0.5/css/universis.css"
          integrity="sha384-GcIMWx3Jq0rHFUoV9TxtmxKkYHxwNoaXhDb/sNO7H6s6X34p02LJyfVwnH2B61sl"
          crossorigin="anonymous">
    <style>
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="text-right mb-2">
            <img style="height: 64px" src="https://students.universis.io/assets/img/universis_logo_128_color.png" alt="Universis Project Logo">
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Αποστολή δήλωσης μαθημάτων</h5>
                <p class="card-text">Ολοκληρώσατε με επιτυχία μία νέα αποστολή δήλωση μαθημάτων. Στον παρακάτω πίνακα εμφανίζονται τα μαθήματα που συμεριλαμβάνονται στην αποστολή αυτή.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h6 class="card-title">
                    <span>Ημερομηνία αποστολής:&nbsp;</span><span><%=html.moment(dateModified).locale('el').format('LLL')%></span>
                </h6>
                <div>
                    <ul class="sis--list-group sis--list-group-header">
                        <li class="sis--list-group-item">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="sis--list-group-item_md_column text-left">Μάθημα</div>
                                <div class="sis--list-group-item_md_column d-none d-md-block">Κωδικός</div>
                                <div class="sis--list-group-item_md_column d-none d-md-block">Εξάμηνο</div>
                                <div class="sis--list-group-item_md_column d-none d-md-block">Τύπος</div>
                                <div class="sis--list-group-item_md_column d-none d-md-block">ECTS</div>
                            </div>
                        </li>
                    </ul>
                    <ul class="sis--list-group sis--list-group-body">
                        <% classes.forEach( function(item) {
                        %>
                        <li class="sis--list-group-item">
                            <div class="d-flex justify-content-center align-items-center list-color">
                                <div class="sis--list-group-item_md_column text-left"><%=item.courseClass.title%></div>
                                <div class="sis--list-group-item_md_column d-none d-md-block"><%=item.course.displayCode%></div>
                                <div class="sis--list-group-item_md_column d-none d-md-block"><%=item.semester%></div>
                                <div class="sis--list-group-item_md_column d-none d-md-block"><%=item.courseType.alternateName%></div>
                                <div class="sis--list-group-item_md_column d-none d-md-block"><%=item.ects%></div>
                            </div>
                        </li>
                        <%
                        })%>
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <p>
                Θα ενημερωθείτε από το σύστημα σχετικά με την εξέλιξη της αποστολής.
            </p>
            <p>
                Με εκτίμηση,
            </p>
            <p>
                Η γραμματεία του τμήματος σας.
            </p>
        </div>
    </div>



</body>
</html>
